* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #85eba9, #15142b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    max-width: 800px;
    max-height: 450px;
    background-color: #4b884b;
    font-size: 2em;
    color: #FFFFFF;
    margin-top: 5px;
    border-radius: 19px;
    padding: 25px;
}

section {
    max-width: 700px;
    max-height: 200px;
    background-color: rgb(27, 56, 37);
    color: bisque;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    /* font-size: 1.0em; */
}


#bt, #inNum, #inMed {
    cursor: pointer;
    color: brown;
    border-radius: 10px;
    background-color: rgba(173, 219, 176, 0.733);
   
    height: 40px;
    right: 305px;
    font-size: 0.7em;
}
/* #bt {
    right: 705px;
} */