* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 360px;
    width: 280px;
    border-radius: 15px;
}

body {
    background-image: radial-gradient(#AAFFFF, #1199FF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    margin: 6px;
}

h1 {
    color: rgb(59, 59, 59);
    margin: 15px;
    letter-spacing: 1px;
}

h1::first-letter {
    color: #080531;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(59, 59, 59);
    margin: 15px;
}

h3 {
    font-size: 20px;
    margin: 15px;
    font-weight: 600;
    /* Negrito leve para destacar */
    color: #2c3e50;
    /* Cor escura e suave, mais agradável que preto puro */
    border-radius: 8px;
    /* Bordas arredondadas para suavizar */
    white-space: pre-line;
    /* Respeita quebras de linha no texto */
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.7);
    /* Sombra leve para destacar o bloco */
    max-width: 400px;
    /* Limita a largura para não ficar muito esticado */
    padding: 4px;
}

input[type="number"] {
    background-image: linear-gradient(to right, #ece9e6 55%, #3b3b3b);
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
    color: #b8170c;
}

button {
    border-radius: 10px;
    border: 1px solid;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 50px;
    background-image: linear-gradient(to right, #b8170c 1%, #3b3b3b);
    color: #eeddcc;
    width: 285px;
}

button:hover {
    opacity: .7;
    transform: scale(1.1);
    transition: all 0.8s ease;
    background-image: linear-gradient(to right, #080531 30%, #278546);
    color: rgb(189, 223, 206);
}

@media (max-width: 800px) {

    body {
        background-image: linear-gradient(to right, #407ed4, #387aec);
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }

    section {
        margin: 3px 25px 2px 25px;
        color: #ece9e6;
        height: 90vh;
    }

    input[type="number"] {
        background-image: linear-gradient(to right, #ece9e6 55%, #3b3b3b);
        border-radius: 10px;
        border: 1px solid;
        padding: 5px;
        font-size: 20px;
        width: 90px;
        cursor: pointer;
        color: darkgreen;
    }

    img {
        width: 190px;
        height: 150px;
        border-radius: 25px;
    }

    h3 {
        font-size: 18px;
        margin: 18px;
        white-space: pre-line;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        max-width: 300px;
    }

}