* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #8989B9, #4A2885 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: aliceblue;
    font-size: 100px;
    letter-spacing: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}